$md-breakpoint: 450;
$lg-breakpoint: 900;
$xl-breakpoint: 1200;

@mixin md {
  @media only screen and (min-width: #{$md-breakpoint}px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: #{$lg-breakpoint}px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: #{$xl-breakpoint}px) {
    @content;
  }
}

:export {
  md: $md-breakpoint;
  lg: $lg-breakpoint;
  xl: $xl-breakpoint;
}