@import '../../../utils.scss';

.message {
  padding: 2rem;
  padding-bottom: 0;

  p {
    padding: 0 1.5rem;
    border-left: 8px solid $success;
    background-color: lighten($primary-color, 5);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;

    &:hover {
      box-shadow: 2px 2px 0 $primary-color;
      button {
        color: white;
      }
    }

    button {
      margin-top: 5px;
      width: 2rem;
      height: 2rem;
      color: lighten($primary-color, 10);

      &:hover {
        color: $primary-color;
      }
    }
  }

  .closed {
    display: none;
  }
}

.message-transition-arrive {
  opacity: 0;
  transform: scale(0);
}

.message-transition-arrive-active {
  opacity: 1;
  transform: scale(1);
}

.message-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.message-transition-exit-active {
  opacity: 0;
  transform: scale(0);
  @include easeOut;
}