@import '../../utils.scss';

main#PostList {
  padding: 0 1rem;

  .page-title {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background: $light;
    border-radius: 5px;
    // color: white;
  }

  .postList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
}