@import "../../utils.scss";

// passed to bottom imports
$height: 5rem;

header#page-header {
  width: 100%;
  height: $height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: $primary-color;
  z-index: 3;

  .header-title {
    font-family: "Source Sans Pro";
    font-size: 1.8rem
  }
}

@import "menu-btn";
@import "menu";