@import "../../utils.scss";

header#page-header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background: $primary-color;
  z-index: 2;

  position: fixed;
  top: 0;

  a {
    flex-shrink: 0;
  }
  .header-title {
    font-family: "Source Sans Pro";
    font-size: 1.8rem;
  }

  @include lg {
    justify-content: flex-start;
  }

  @include xl {
    padding: 0 10rem;
  }
}

@import "menu-btn";
@import "menu";