@import '../../utils.scss';

main#page-main {
  margin-top: $header-height;

  .page-title {
    padding: 2rem;

  }

  @include md {
    padding: 0 2rem;

    .page-title {
      padding-left: 1rem;
    }
  }

  @include lg {
    display: grid;
    grid-template-columns: 50% auto 20rem;
    grid-template-rows: auto auto;
    padding: 2rem 4rem;
  }

  @include xl {
    padding: 2rem 10rem;

    .page-title {
      padding: 2rem 0;
    }
  }
}

h3 {
  font-size: 1.4rem;
}

.page-item-appear {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 700ms ease-out;
}

.page-item-appear-active {
  opacity: 1;
  transform: translate(0, 0);
}

.page-item-enter {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 700ms ease-out;
}

.page-item-enter-active {
  opacity: 1;
  transform: translate(0, 0);
}