@import '../../utils.scss';

.post {
  width: 100%;
  margin-bottom: 2.5rem;

  .post-header {
    display: flex;
    align-items: baseline;
    padding: 1rem;
    background-color: $secondary-color;
    // border-bottom: 5px solid $secondary-dark;
    border-radius: 5px 5px 0 0;
    
    .post-title {
      color: white;
      margin-top: 0.1rem;
      margin-right: auto;
      text-decoration: underline;
    }

    .author-link {
      margin-left: 10px;
      color: $light;
    }
  }
  
  .post-content {
    background-color: $light;
    padding: 1.5rem;
    line-height: 1.5;
    border: 2px solid $light;
    border-radius: 0 0 10px 10px;
    white-space: pre-wrap;
    background: white;
  }
}