@import '../../../utils.scss';

.backbutton {
  margin: 2rem 10vw;
  font-size: 2rem;
}

.billboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12rem;

  margin: 0 10vw;
  border: 4px solid $secondary-color;

  h4 {
    margin-top: 2rem;
    color: darken($color: white, $amount: 20);
    max-width: 50vw;
  }

  @include lg {
    border: none;
    grid-column: 1 / 4;
  }
}